$blue: #24388d;
$green: #03cf5d;
$red: #ff1414;
$white: #fff;
$silverLight: #dadada;
$silver: #999;
$silverDark: #666;
$blackDark: #333;
$blackAlpha10: rgba(#000, 0.1);

$default: $white;
$primary: $green;
$secondary: $silver;
$text: $blackDark;
$alpha: $blackAlpha10; 
$warning: $red;
$outline: $blue;